HTTP_PORT="3000"
FRONTEND_URL="http://localhost:5173"
SALTROUNDS=10
JWT_SECRET=""
DATABASE_URL=""
REDIS_URL="redis://localhost:6379"
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
S3_BUCKET=""
GEMINI_API_KEY=""
OPENAI_API_KEY=""