SERVER_PORT="3000"
JWT_SECRET="Thisisveryverysecrettext"
SALTROUNDS="10"

GEMINI_API_KEY=""

DATABASE_URL=""
REDIS_URL=""

CRAWLER_URL="http://crawler:3005"
ASSEMBLYAI_API_KEY=""

CRAWLER_PORT="3005"
WEBDRIVER_URL="http://chromedriver:4444"