apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker
        image: placeholder-image/this-will-be-set-in-the-ci-pipeline
        imagePullPolicy: Always
        envFrom:
        - secretRef:
            name: worker-secrets
        resources:
          requests:
            cpu: "500m"
            memory: "1Gi"